body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
    color: #333;
}

header {
    background-color: #171717;
    color: white;
    padding: 15px;;
}

footer {
    background-color: rgb(228, 77, 67);
    color: white;
    padding: 15px;
    border-radius: 8px;
}


a {
    color:rgb(133, 133, 133);
}